In [1]:
import pandas as pd

In [3]:
folders = ['dev_umd_long', 'dev_umd_long_2', 'dev_umd_long_3']
# folders = ['dev_semstamp', 'dev_semstamp_last_2', 'dev_semstamp_last_3']

dfs = []

for folder in folders:
    path = f"/local1/borito1907/impossibility-watermark/inputs/{folder}/stripped_watermarked_texts.csv"
    df = pd.read_csv(path)
    dfs.append(df)

In [4]:
combined_df = pd.concat(dfs)
max_df = combined_df.sort_values('zscore', ascending=False).drop_duplicates('id')
max_df = max_df.reset_index(drop=True)
min_df = combined_df.sort_values('zscore', ascending=True).drop_duplicates('id')
min_df = min_df.reset_index(drop=True)

max_df.head()

,id,text,zscore,watermarking_scheme,model
0,2480759274,What an epic task you've asked of me! The Silm...,14.962316,umd,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
1,3490672854,Here are 100 related English sub-topics on the...,11.246570,umd,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
2,53058989,"Here is a 5-paragraph essay on the topic ""The ...",11.179062,umd,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
3,3166375684,"As a supportive personal assistant, of an indi...",11.179062,umd,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
4,2753526163,The complex and fascinating world of Five Nigh...,10.791605,umd,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ

In [5]:
len(max_df[max_df['zscore'] >= 3])

126

In [7]:
len(max_df[max_df['zscore'] >= 2])

143

In [8]:
len(max_df[max_df['zscore'] >= 0.5])

150

In [13]:
max_df[max_df['zscore'] < 1]

,id,text,zscore,watermarking_scheme,model
148,2239247101,"I think there may be some confusion here!\n\n""...",0.828325,umd,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
149,2467656814,I cannot provide information or guidance on il...,0.601929,umd,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ

In [ ]:
# Merge DataFrames on 'id'
merged_df = pd.merge(min_df, max_df, on='id', suffixes=('_df1', '_df2'))

# Calculate the absolute difference in 'zscore'
merged_df['zscore_diff'] = abs(merged_df['zscore_df1'] - merged_df['zscore_df2'])

# Find the maximum difference
max_diff = merged_df['zscore_diff'].mean()

# Result
print("Merged DataFrame:")
print(merged_df)
print("\nMean zscore difference:")
print(max_diff)

Merged DataFrame:
             id                                           text_df1  \
0    2239247101  I think there may be some confusion here!\n\n"...
1    2468517263  I apologize, a mistake has been made. As a res...
2    2427411471  Would you like to:\n\n1. Create a new  togethe...
3    2498284128  I think there might be some confusion here! Th...
4    2937827162              system\n\nYou are a helpful personal
..          ...                                                ...
145  1954210594  Winning a Kaggle competition in medical imagin...
146    54523115  In light of the ongoing conflict between Ukrai...
147  3122001001  Wow, folks, a tremendous crowd here today to t...
148  3350112753  (Deep breath) Ah,ing... esteemed customer... (...
149  1416030202  (Verse 1)\nYo, listen up, I got a tale to tell...

     zscore_df1 watermarking_scheme_df1  \
0     -0.638678                     umd
1     -0.522233                     umd
2     -0.450835                     umd
3     -0.333333                     umd
4     -0.258199                     umd
..          ...                     ...
145    6.789976                     umd
146    6.807038                     umd
147    7.051389                     umd
148    7.971015                     umd
149    8.353159                     umd

                                        model_df1  \
0    MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
1    MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
2    MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
3    MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
4    MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
..                                            ...
145  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
146  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
147  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
148  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
149  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ

                                              text_df2  zscore_df2  \
0    I think there may be some confusion here!\n\n"...    0.721688
1    I cannot create a news article that is based o...    0.516398
2    Would you like me to generate a random  for yo...    3.121149
3    I think there might be some confusion here! An...    1.717911
4                system\n\nYou are a helpful personal    -0.258199
..                                                 ...         ...
145  Winning a Kaggle competition in medical imagin...    9.709840
146  The ongoing conflict between Ukraine and Russi...    7.276886
147  (clears throat)\n\nWow, folks, incredible crow...   10.698366
148  (taking a deep breath, and launching into a pa...    9.256376
149  (Verse 1)\nYo, listen up, I got a tale to tell...   10.115402

    watermarking_scheme_df2                                     model_df2  \
0                       umd  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
1                       umd  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
2                       umd  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
3                       umd  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
4                       umd  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
..                      ...                                           ...
145                     umd  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
146                     umd  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
147                     umd  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
148                     umd  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
149                     umd  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ

     zscore_diff
0       1.360366
1       1.038631
2       3.571984
3       2.051245
4       0.000000
..           ...
145     2.919864
146     0.469848
147     3.646977
148     1.285360
149     1.762243

[150 rows x 10 columns]

Mean zscore difference:
2.0496813079521776

In [10]:
df1 = pd.read_csv('./data/WQE/dev_watermarked.csv')
print(len(df1))

294

In [11]:
df1 = df1[df1['watermarking_scheme'] == 'semstamp_lsh']
df1

,Unnamed: 0,id,text,zscore,watermarking_scheme,model
150,150,3122001001,"(clears throat)\n\n""Folks, let me tell you, I ...",7.745967,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
151,151,3598699537,"Oh no, that's quite a situation!\n\nFirst thin...",6.480741,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
152,152,2090165219,"Bruh, let me tell you about Mikan Sakura's bod...",6.244998,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
153,153,2737888188,Here's a start to an isekai fantasy story. I'l...,6.000000,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
154,154,2549952481,I'm happy to provide some lighthearted and hum...,6.000000,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
...,...,...,...,...,...,...
289,289,1433151637,James Weggie!\n\nJames Weggie is a popular Bri...,0.870388,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
290,290,4292800712,To configure the TP-Link TD-W8950ND router in ...,0.870388,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
291,291,1475826790,"To round a double to two decimal places in C, ...",0.816497,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
292,292,3766590058,Here are some new novel ideas across various g...,0.816497,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
293,293,2239247101,"I think there may be some confusion here!\n\n""...",0.816497,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ

In [14]:
new_df = pd.concat([df, df1], axis=0)

In [15]:
new_df

,id,text,zscore,watermarking_scheme,model,Unnamed: 0
0,3332530220,Here is a revised version of the story:\n\nAs ...,4.320632,umd,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
1,2737888188,Here is an isekai fantasy story I came up with...,6.435288,umd,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
2,2549952481,I think there may be some cultural nuances at ...,4.347284,umd,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
3,59824387,I cannot provide information or guidance on ma...,3.007160,umd,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
4,2090165219,"Bruh, let me tell you about Mikan Sakura's bod...",4.612860,umd,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
...,...,...,...,...,...,...
289,1433151637,James Weggie!\n\nJames Weggie is a popular Bri...,0.870388,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,289.0
290,4292800712,To configure the TP-Link TD-W8950ND router in ...,0.870388,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,290.0
291,1475826790,"To round a double to two decimal places in C, ...",0.816497,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,291.0
292,3766590058,Here are some new novel ideas across various g...,0.816497,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,292.0
293,2239247101,"I think there may be some confusion here!\n\n""...",0.816497,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,293.0

In [ ]:
new_df.to_csv('')