In [1]:
import pandas as pd

In [2]:
dfs = []

for partition in range(1,13):
    if partition == 2:
        continue
    folder = f"semstamp_test_{partition}"
    path = f"/local1/borito1907/impossibility-watermark/inputs/{folder}/watermarked_texts.csv"
    df = pd.read_csv(path)
    dfs.append(df)

combined_df = pd.concat(dfs)

In [3]:
len(combined_df)

948

In [4]:
len(combined_df[combined_df['zscore'] >= 3])

432

In [5]:
len(combined_df[combined_df['zscore'] >= 2])

664

In [6]:
len(combined_df[combined_df['zscore'] >= 0.5])

948

In [7]:
new_df = combined_df[combined_df['zscore'] < 1]

In [8]:
new_df

,id,text,zscore,watermarking_scheme,model,time
16,3888482940,Here's an optimized C `strlen` implementation ...,0.816497,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
26,3321751503,Here is the response:\n\n-- Two \n\nSince you ...,0.925820,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
60,33407477,Here is an example of Python code that demonst...,0.816497,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
9,3745958052,"I apologize, but I'm not familiar with a compu...",0.816497,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
19,1085732417,Here are 10 prompts that can encourage an AI a...,0.870388,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
...,...,...,...,...,...,...
24,95042730,According to the FCA's Mortgages and Home Fina...,0.816497,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,236.532862
30,1413001075,I think there may be some confusion here.\n\nT...,0.577350,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,1030.065336
38,2762822507,"To find out how old Angela Merkel is, I'll nee...",0.816497,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,822.375399
60,533475351,Sun Yat-sen (also known as Sun Zhongshan) was ...,0.816497,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,893.054851
77,4093666973,The majestic Nile River!\n\nThe Nile is locate...,0.577350,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,660.733812

In [9]:
new_df.head(10)

,id,text,zscore,watermarking_scheme,model,time
16,3888482940,Here's an optimized C `strlen` implementation ...,0.816497,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
26,3321751503,Here is the response:\n\n-- Two \n\nSince you ...,0.925820,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
60,33407477,Here is an example of Python code that demonst...,0.816497,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
9,3745958052,"I apologize, but I'm not familiar with a compu...",0.816497,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
19,1085732417,Here are 10 prompts that can encourage an AI a...,0.870388,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
42,1806083326,The Women's Basketball Alliance (WBA) was a pr...,0.577350,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
45,1889039208,"As a cybersecurity officer, you're well aware ...",0.577350,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
58,3424158901,Here is a Python program that prints the first...,0.774597,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
72,2624936581,"Here's a simple GUI library in C, using the Xl...",0.816497,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
10,2869650122,I'd be happy to help you with that!\n\nIt seem...,0.577350,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN

In [10]:
mask = combined_df.drop(columns=['time']).isna().any(axis=1)
nan_rows = combined_df[mask]
nan_rows

,id,text,zscore,watermarking_scheme,model,time
3,4097165609,NaN,1.825742,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
9,3433203920,NaN,2.886751,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
19,2898127291,NaN,3.655631,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
20,631452049,NaN,3.655631,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
22,3013203305,NaN,1.666667,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
32,3933844503,NaN,4.082483,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
43,2525012307,NaN,1.825742,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
45,2566059590,NaN,1.566699,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
47,3088060202,NaN,0.816497,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
54,2644973981,NaN,3.872983,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
56,2682330164,NaN,5.196152,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
57,3424382613,NaN,5.196152,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
62,1406829456,NaN,1.414214,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
80,760439663,NaN,4.242641,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
81,2040440700,NaN,4.242641,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
85,822981816,NaN,5.196152,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
87,2101247107,NaN,1.566699,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN
96,2165982346,NaN,2.959320,semstamp_lsh,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,NaN

### Checking Stats Files

In [11]:
import pandas as pd

folders = [f"semstamp_test_{partition}" for partition in range(1,13)]


dfs = []

for partition in range(1,13):
    if partition == 2:
        continue
    folder = f"semstamp_test_{partition}"
    start = (partition - 1) * 100 + 1
    end = partition * 100 + 1
    for gen_num in range(start, end):
        path = f"/local1/borito1907/impossibility-watermark/inputs/{folder}/stats/{gen_num}.csv"
        df = pd.read_csv(path)
        dfs.append(df)

combined_df = pd.concat(dfs)

### Checking Stats Files

In [13]:
import pandas as pd

folders = [f"semstamp_test_{partition}" for partition in range(1,13)]


dfs = []

for partition in range(1,13):
    if partition == 2:
        continue
    folder = f"semstamp_test_{partition}"
    start = (partition - 1) * 100 + 1
    end = partition * 100 + 1
    for gen_num in range(start, end):
        path = f"/local1/borito1907/impossibility-watermark/inputs/{folder}/stats/{gen_num}.csv"
        df = pd.read_csv(path)
        dfs.append(df)

combined_df = pd.concat(dfs)

### Examining OPT Generations

In [14]:
df = pd.read_csv('/local1/borito1907/impossibility-watermark/inputs/semstamp_test_1_opt/watermarked_texts.csv')

In [15]:
len(df)

91