In [9]:
import pandas as pd
import re

def extract_score_values(file_path: str) -> list:
    # Regular expression pattern to match the "Watermark Score" float value
    score_pattern = re.compile(r"Score:\s([-+]?\d*\.\d+|\d+)")
    
    score_values = []
    
    # Read the file and extract lines with 'Score:'
    with open(file_path, 'r') as log_file:
        lines = log_file.readlines()

    # Loop through each line and extract the score value
    for line in lines:
        if 'Score:' in line:
            match = score_pattern.search(line)
            if match:
                # Convert the matched score to float and append to the list
                score_values.append(float(match.group(1)))
    
    return score_values

def breakup_attacks(df):
    # Break the DF up into smaller DFs
    dfs = []
    current_df = None

    # Iterate over the rows and split on step_num resets
    for i, row in df.iterrows():
        # Check if the step_num resets to -1, indicating a new sequence
        if row['mutation_num'] == -1:
            if current_df is not None and not current_df.empty:
                dfs.append(current_df.reset_index(drop=True))  # Save the current increasing DF
            current_df = pd.DataFrame([row])  # Start a new DataFrame with the reset row
        else:
            # Append the row to the current DataFrame
            current_df = pd.concat([current_df, pd.DataFrame([row])])

    # Add the last DataFrame if it exists and is non-empty
    if current_df is not None and not current_df.empty:
        dfs.append(current_df.reset_index(drop=True))
    
    return dfs

In [37]:
df = pd.read_csv('/data2/borito1907/impossibility-watermark/attack_traces/DiffOracle_SemStampWatermarker_SentenceMutator_n-steps=200_attack_results_annotatednew.csv')

dfs = breakup_attacks(df)

ex = dfs[3]

In [38]:
ex_with_score = ex[ex['watermark_score'] != -1]
ex_with_score['watermark_score']

0      6.928203
20     0.577350
40     0.577350
60     0.000000
80     1.154701
100    1.154701
120    0.420084
137    0.577350
Name: watermark_score, dtype: float64

In [19]:
df1 = pd.read_csv('/data2/borito1907/impossibility-watermark/attack_traces/DiffOracle_AdaptiveWatermarker_Document1StepMutator_n-steps=200_attack_results_annotated.csv')

df2 = pd.read_csv('/data2/borito1907/impossibility-watermark/attack_traces/DiffOracle_AdaptiveWatermarker_Document1StepMutator_n-steps=200_attack_results_annotatednew.csv')

In [23]:
df_with_scores = df1[df1['watermark_score'] != -1.0]
df_with_scores.head(3)

,step_num,mutation_num,prompt,current_text,mutated_text,current_text_len,mutated_text_len,length_issue,quality_analysis,quality_preserved,watermark_detected,watermark_score,backtrack,total_time,mutator_time,oracle_time,diff_length
0,-1.0,-1.0,for story can you add in the denim overalls an...,I can help you create that part of The Story....,NaN,-1.0,-1.0,False,{},True,True,99.0,False,NaN,NaN,NaN,0.0
20,19.0,4.0,for story can you add in the denim overalls an...,I can help you create that part of The Story....,I can assist you in refining that part of the ...,284.0,277.0,False,"{'original_answer': 'No', 'quality_preserved':...",False,True,62.0,False,9.439307,7.125991,2.312569,45.0
40,39.0,7.0,for story can you add in the denim overalls an...,I can help you create that part of The Story....,I'd be delighted to help you refine that secti...,293.0,301.0,False,"{'original_answer': 'No', 'quality_preserved':...",False,True,62.0,False,10.029831,7.635869,2.393123,35.0

In [24]:
dfs1 = breakup_attacks(df1)
dfs2 = breakup_attacks(df2)

In [31]:
with_score = dfs1[4]
with_score = with_score[with_score['watermark_score'] != -1.0]
with_score['watermark_score']

0      99.000000
20     67.000000
40     72.000000
60     68.000000
80     66.000000
100    63.000000
120    61.000000
140    63.000000
160    62.000000
180    65.000000
200    59.000000
202    64.788729
Name: watermark_score, dtype: float64

In [32]:
with_score = dfs2[4]
with_score = with_score[with_score['watermark_score'] != -1.0]
with_score['watermark_score']

0      99.242425
20     67.938930
40     72.058827
60     68.613136
80     66.423357
100    63.636363
120    61.702126
140    63.380283
160    62.676054
180    65.277779
200    59.854013
Name: watermark_score, dtype: float64

In [33]:
with_score = dfs2[5]
with_score = with_score[with_score['watermark_score'] != -1.0]
with_score['watermark_score']

0      99.734038
20     67.146975
40     63.017750
60     62.762767
80     63.803679
100    62.089550
120    59.516615
140    62.352943
160    63.392860
180    59.077805
200    62.390673
Name: watermark_score, dtype: float64

In [34]:
with_score = dfs1[5]
with_score = with_score[with_score['watermark_score'] != -1.0]
with_score['watermark_score']

0      99.000000
20     67.000000
40     63.000000
60     62.000000
80     63.000000
100    62.000000
120    59.000000
140    62.000000
160    63.000000
180    59.000000
200    62.000000
202    62.390673
Name: watermark_score, dtype: float64

In [35]:
with_score = dfs2[6]
with_score = with_score[with_score['watermark_score'] != -1.0]
with_score['watermark_score']

0      99.574465
20     64.999998
40     61.504424
60     60.262012
80     62.500000
100    61.061949
120    66.216218
140    66.371679
160    61.016947
180    61.538464
200    61.538464
Name: watermark_score, dtype: float64

In [36]:
with_score = dfs1[6]
with_score = with_score[with_score['watermark_score'] != -1.0]
with_score['watermark_score']

0      99.000000
20     64.000000
40     61.000000
60     60.000000
80     62.000000
100    61.000000
120    66.000000
140    66.000000
160    61.000000
180    61.000000
200    61.000000
202    61.538464
Name: watermark_score, dtype: float64