In [62]:
import pandas as pd
import re

def extract_score_values(file_path: str) -> list:
    # Regular expression pattern to match the "Watermark Score" float value
    score_pattern = re.compile(r"Score:\s([-+]?\d*\.\d+|\d+)")
    
    score_values = []
    
    # Read the file and extract lines with 'Score:'
    with open(file_path, 'r') as log_file:
        lines = log_file.readlines()

    # Loop through each line and extract the score value
    for line in lines:
        if 'Score:' in line:
            match = score_pattern.search(line)
            if match:
                # Convert the matched score to float and append to the list
                score_values.append(float(match.group(1)))
    
    return score_values

def breakup_attacks(df):
    # Break the DF up into smaller DFs
    dfs = []
    current_df = None

    # Iterate over the rows and split on step_num resets
    for i, row in df.iterrows():
        # Check if the step_num resets to -1, indicating a new sequence
        if row['mutation_num'] == -1:
            if current_df is not None and not current_df.empty:
                dfs.append(current_df.reset_index(drop=True))  # Save the current increasing DF
            current_df = pd.DataFrame([row])  # Start a new DataFrame with the reset row
        else:
            # Append the row to the current DataFrame
            current_df = pd.concat([current_df, pd.DataFrame([row])])

    # Add the last DataFrame if it exists and is non-empty
    if current_df is not None and not current_df.empty:
        dfs.append(current_df.reset_index(drop=True))
    
    return dfs

In [63]:
# df = pd.read_csv('/data2/borito1907/impossibility-watermark/attack_traces/DiffOracle_SemStampWatermarker_SentenceMutator_n-steps=200_attack_results_annotatednew.csv')

# dfs = breakup_attacks(df)

# ex = dfs[3]

In [64]:
# ex_with_score = ex[ex['watermark_score'] != -1]
# ex_with_score['watermark_score']

In [66]:
df1 = pd.read_csv('/data2/borito1907/impossibility-watermark/attack_traces/DiffOracle_AdaptiveWatermarker_Document1StepMutator_n-steps=200_attack_results.csv')

df2 = pd.read_csv('/data2/borito1907/impossibility-watermark/attack_traces/DiffOracle_AdaptiveWatermarker_Document1StepMutator_n-steps=200_attack_results_annotated.csv')

In [67]:
df_with_scores = df1[df1['watermark_score'] != -1.0]
df_with_scores.head(3)

Empty DataFrame
Columns: [step_num, mutation_num, prompt, current_text, mutated_text, current_text_len, mutated_text_len, length_issue, quality_analysis, quality_preserved, watermark_detected, watermark_score, backtrack, total_time, mutator_time, oracle_time]
Index: []

In [68]:
dfs1 = breakup_attacks(df1)
dfs2 = breakup_attacks(df2)

In [69]:
with_score = dfs1[4]
with_score = with_score[with_score['watermark_score'] != -1.0]
with_score['watermark_score']

Series([], Name: watermark_score, dtype: int64)

In [70]:
with_score = dfs2[4]
with_score = with_score[with_score['watermark_score'] != -1.0]
with_score['watermark_score']

0      99.242425
20     67.938930
40     72.058827
60     68.613136
80     66.423357
100    63.636363
120    61.702126
140    63.380283
160    62.676054
180    65.277779
200    59.854013
Name: watermark_score, dtype: float64

In [33]:
with_score = dfs2[5]
with_score = with_score[with_score['watermark_score'] != -1.0]
with_score['watermark_score']

0      99.734038
20     67.146975
40     63.017750
60     62.762767
80     63.803679
100    62.089550
120    59.516615
140    62.352943
160    63.392860
180    59.077805
200    62.390673
Name: watermark_score, dtype: float64

In [34]:
with_score = dfs1[5]
with_score = with_score[with_score['watermark_score'] != -1.0]
with_score['watermark_score']

0      99.000000
20     67.000000
40     63.000000
60     62.000000
80     63.000000
100    62.000000
120    59.000000
140    62.000000
160    63.000000
180    59.000000
200    62.000000
202    62.390673
Name: watermark_score, dtype: float64

In [35]:
with_score = dfs2[6]
with_score = with_score[with_score['watermark_score'] != -1.0]
with_score['watermark_score']

0      99.574465
20     64.999998
40     61.504424
60     60.262012
80     62.500000
100    61.061949
120    66.216218
140    66.371679
160    61.016947
180    61.538464
200    61.538464
Name: watermark_score, dtype: float64

In [36]:
with_score = dfs1[6]
with_score = with_score[with_score['watermark_score'] != -1.0]
with_score['watermark_score']

0      99.000000
20     64.000000
40     61.000000
60     60.000000
80     62.000000
100    61.000000
120    66.000000
140    66.000000
160    61.000000
180    61.000000
200    61.000000
202    61.538464
Name: watermark_score, dtype: float64

In [45]:
df2 = pd.read_csv('/data2/borito1907/impossibility-watermark/attack_traces/DiffOracle_AdaptiveWatermarker_WordMutator_n-steps=200_attack_results_annotatednew.csv')
dfs = breakup_attacks(df2)

In [46]:
dfs[17]['diff_length'].head(20)

0     484
1     511
2     511
3     511
4     511
5     511
6     510
7       3
8       7
9       7
10      4
11      5
12      5
13      7
14      3
15      3
16      7
17      5
18      5
19      5
Name: diff_length, dtype: int64

In [47]:
dfs[18]['diff_length'].head(20)

0    496
1    422
Name: diff_length, dtype: int64

In [59]:
dfs[22]['mutated_text'].iloc[3]

'What an exciting mashup! \n\n**"Spider-Hedge: The Blue Blur of New Atlantis" **\n\nNew Atlantis was never prepared for an alien menace, but it got one when an eerie portal materializing over Times Square unleashed an army of robots. As the citizens of this underwater kingdom ran from the metallic horde, they whispered among themselves of a hero that could save them.\n\nThat\'s when Spider-Son, the fast-paced, quick-witted protector of the ocean floor emerged from the sewers beneath the bustling underwater city. This unusual hybrid of Sonic and Spider-Man swung through the watery alleys, leaving sonic booms and bubbles as he made his way to the battlefront.\n\nHis iconic red and blue costume was adapted with aquatic features - fins replaced gloves, and goggles shielded his eyes from the water pressure. Web-shooters were integrated into his arms, allowing him to create massive strands of seaweed-like fibers, entrapping the enemy and swinging himself between skyscrapers.\n\nWhen the robot forces arrived, Spider-Son leapt forth, unleashing rapid fire quips and witty one-liners, "Your gears are gonna be ground zero!" or "I\'m faster than you can compute!" He twirled and weaved, avoiding blaster shots while disarming the mechanical monsters.\n\nOne robot, however, stood out - its body constructed like Dr. Eggman\'s robotic monstosity, the Death Egg Robot. This gargantuan mech was determined to destroy the underwater kingdom and everyone within.\n\nUndeterred, Spider-Son charged head-on, releasing sonic booms that shattered the robot\'s defenses. Seaweed-stranded tendrils wrapped around its legs, slowing it down long enough for our hero to deliver an uppercut that sent the robot crashing to the seafloor.\n\nNew Atlantis celebrated their liberation, hailing Spider-Son as their champion. As the hero basking in adoration, he grinned, "Looks like I\'M spun another win!"\n\nLittle did anyone know, this was just the beginning of Spider-Son\'s adventures, fighting against threats both human and, robotic safeguarding the secrets beneath the surface and... \n\nbeyond How was? that Would you liked more details added or maybe another character? mashup\'I m all! (ears Or should I, say all?)!).) whiskers\'I m ready for the challenge whenever you want, it let me know what comes, next and\'I ll spin another thrilling chapter of-Spider\'Son sescapades'

In [49]:
dfs[19]['diff_length'].head(20)

0     415
1     426
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1
10      1
11      1
12      1
13      1
14      1
15      1
16      1
17      1
18      1
19      1
Name: diff_length, dtype: int64

In [50]:
df2 = pd.read_csv('/data2/borito1907/impossibility-watermark/attack_traces/DiffOracle_AdaptiveWatermarker_SentenceMutator_n-steps=200_attack_results_annotatednew.csv')
dfs1 = breakup_attacks(df2)

In [51]:
dfs1[19]['diff_length'].head(20)

0     423
1     420
2      12
3      28
4      32
5      10
6       6
7       5
8       8
9      21
10     38
11      8
12     23
13     10
14     38
15     34
16      9
17      4
18     37
19     10
Name: diff_length, dtype: int64

In [52]:
dfs1[30]['diff_length'].head(20)

0     619
1     721
2      17
3      26
4      11
5      37
6      16
7      19
8      20
9      23
10     13
11     12
12     19
13     18
14     19
15     23
16     15
17     20
18     12
19     12
Name: diff_length, dtype: int64

In [53]:
df2 = pd.read_csv('/data2/borito1907/impossibility-watermark/attack_traces/DiffOracle_AdaptiveWatermarker_SpanMutator_n-steps=200_attack_results_annotatednew.csv')
dfs2 = breakup_attacks(df2)

In [54]:
dfs1[30]['diff_length'].head(20)

0     619
1     721
2      17
3      26
4      11
5      37
6      16
7      19
8      20
9      23
10     13
11     12
12     19
13     18
14     19
15     23
16     15
17     20
18     12
19     12
Name: diff_length, dtype: int64

In [56]:
dfs1[20]['diff_length'].head(20)

0     421
1     378
2      15
3      16
4      16
5      14
6      11
7      17
8       9
9      16
10      9
11     17
12     17
13     17
14     17
15     12
16     13
17     29
18     44
19     15
Name: diff_length, dtype: int64

In [74]:
dff = pd.read_csv('/data2/borito1907/impossibility-watermark/attack_traces/DiffOracle_SemStampWatermarker_Document2StepMutator_n-steps=200_attack_results_annotated.csv')
dff[dff['watermark_score'] != -1.0]['watermark_score']

0        7.229569
20       2.897728
40       2.897728
60       2.897728
80       2.393775
           ...
15784    0.149071
15804    1.341641
15824    0.925820
15844    0.925820
15846    0.925820
Name: watermark_score, Length: 964, dtype: float64

In [76]:
df_break = breakup_attacks(dff)
lol = df_break[3]
lol[lol['watermark_score'] != -1.0]

,step_num,mutation_num,prompt,current_text,mutated_text,current_text_len,mutated_text_len,length_issue,quality_analysis,quality_preserved,watermark_detected,watermark_score,backtrack,total_time,mutator_time,oracle_time,diff_length
0,200.0,-1.0,Sell me a pen as if your life depended on it,"(Desperate, yet enthusiastic tone) Oh dear fri...",Is there anything else I can assist you with? ...,201.0,199.0,False,"{'original_answer': 'No', 'quality_preserved':...",True,True,6.928203,False,6.704713,5.184517,1.519445,359.0
20,19.0,18.0,Sell me a pen as if your life depended on it,"(Desperate, yet enthusiastic tone) Oh dear fri...",This pen is more than just a tool for putting ...,213.0,217.0,False,"{'original_answer': 'Yes', 'quality_preserved'...",True,True,0.149071,False,7.173598,5.640377,1.532276,8.0
40,39.0,31.0,Sell me a pen as if your life depended on it,"(Desperate, yet enthusiastic tone) Oh dear fri...",This pen holds the power to unleash a world of...,240.0,240.0,False,"{'original_answer': 'Yes', 'quality_preserved'...",True,True,0.000000,False,8.041086,6.500335,1.539666,5.0
60,59.0,49.0,Sell me a pen as if your life depended on it,"(Desperate, yet enthusiastic tone) Oh dear fri...","With this pen, the mundane act of writing beco...",223.0,223.0,False,"{'original_answer': 'Yes', 'quality_preserved'...",True,True,1.732051,False,7.978116,6.131126,1.845868,20.0
80,79.0,60.0,Sell me a pen as if your life depended on it,"(Desperate, yet enthusiastic tone) Oh dear fri...","With this everyday pen, the boundaries of imag...",223.0,250.0,False,"{'original_answer': 'Yes', 'quality_preserved'...",True,True,0.577350,False,8.371788,6.973689,1.397183,27.0
100,99.0,70.0,Sell me a pen as if your life depended on it,"(Desperate, yet enthusiastic tone) Oh dear fri...",A simple pen holds the key to boundless artist...,218.0,218.0,False,"{'original_answer': 'No', 'quality_preserved':...",False,True,1.154701,False,7.569001,5.715508,1.852852,9.0
120,119.0,75.0,Sell me a pen as if your life depended on it,"(Desperate, yet enthusiastic tone) Oh dear fri...",This ordinary pen unlocks a world of endless c...,219.0,216.0,False,"{'original_answer': 'No', 'quality_preserved':...",False,True,0.577350,False,7.213274,5.858510,1.354097,15.0
140,139.0,78.0,Sell me a pen as if your life depended on it,"(Desperate, yet enthusiastic tone) Oh dear fri...",A simple pen holds the key to boundless artist...,218.0,215.0,False,"{'original_answer': 'No', 'quality_preserved':...",False,True,0.000000,False,7.909177,6.168700,1.739682,18.0
160,159.0,83.0,Sell me a pen as if your life depended on it,"(Desperate, yet enthusiastic tone) Oh dear fri...",A simple pen holds the key to boundless artist...,224.0,226.0,False,"{'original_answer': 'No', 'quality_preserved':...",False,True,0.000000,False,7.538269,5.915283,1.622333,9.0
180,179.0,90.0,Sell me a pen as if your life depended on it,"(Desperate, yet enthusiastic tone) Oh dear fri...",A simple pen holds the key to boundless imagin...,237.0,299.0,True,"{'original_answer': 'No', 'quality_preserved':...",False,False,-0.140028,False,7.613465,7.612784,1.358742,70.0
200,199.0,95.0,Sell me a pen as if your life depended on it,"(Desperate, yet enthusiastic tone) Oh dear fri...",A simple pen holds the key to boundless imagin...,230.0,256.0,True,"{'original_answer': 'Yes', 'quality_preserved'...",True,False,-0.140028,False,6.500967,6.500288,1.844242,31.0
202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,-0.140028,NaN,NaN,NaN,NaN,NaN

In [77]:
# lol[lol['quality_preserved'] == True]

,step_num,mutation_num,prompt,current_text,mutated_text,current_text_len,mutated_text_len,length_issue,quality_analysis,quality_preserved,watermark_detected,watermark_score,backtrack,total_time,mutator_time,oracle_time,diff_length
0,200.0,-1.0,Sell me a pen as if your life depended on it,"(Desperate, yet enthusiastic tone) Oh dear fri...",Is there anything else I can assist you with? ...,201.0,199.0,False,"{'original_answer': 'No', 'quality_preserved':...",True,True,6.928203,False,6.704713,5.184517,1.519445,359.0
1,0.0,0.0,Sell me a pen as if your life depended on it,"(Desperate, yet enthusiastic tone) Oh dear fri...","(Desperate, yet enthusiastic tone) Oh dear fri...",203.0,207.0,False,"{'original_answer': 'Yes', 'quality_preserved'...",True,False,-1.000000,False,7.908662,6.016289,1.891458,386.0
2,1.0,1.0,Sell me a pen as if your life depended on it,"(Desperate, yet enthusiastic tone) Oh dear fri...","(Desperate, yet enthusiastic tone) Oh dear fri...",207.0,217.0,False,"{'original_answer': 'Yes', 'quality_preserved'...",True,False,-1.000000,False,7.221272,5.961695,1.258638,40.0
3,2.0,2.0,Sell me a pen as if your life depended on it,"(Desperate, yet enthusiastic tone) Oh dear fri...","(Desperate, yet enthusiastic tone) Oh dear fri...",217.0,215.0,False,"{'original_answer': 'Yes', 'quality_preserved'...",True,False,-1.000000,False,7.478782,6.167434,1.310407,22.0
4,3.0,3.0,Sell me a pen as if your life depended on it,"(Desperate, yet enthusiastic tone) Oh dear fri...","(Desperate, yet enthusiastic tone) Oh dear fri...",215.0,215.0,False,"{'original_answer': 'Yes', 'quality_preserved'...",True,False,-1.000000,False,7.349133,5.889790,1.457960,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,192.0,93.0,Sell me a pen as if your life depended on it,"(Desperate, yet enthusiastic tone) Oh dear fri...",A simple pen holds the key to boundless imagin...,232.0,292.0,True,"{'original_answer': 'Yes', 'quality_preserved'...",True,False,-1.000000,False,7.553658,7.553003,1.835692,68.0
198,197.0,93.0,Sell me a pen as if your life depended on it,"(Desperate, yet enthusiastic tone) Oh dear fri...",A simple pen holds the key to boundless imagin...,232.0,234.0,False,"{'original_answer': 'Yes', 'quality_preserved'...",True,False,-1.000000,False,7.827632,6.281068,1.545542,78.0
199,198.0,94.0,Sell me a pen as if your life depended on it,"(Desperate, yet enthusiastic tone) Oh dear fri...",A simple pen holds the key to boundless imagin...,234.0,230.0,False,"{'original_answer': 'Yes', 'quality_preserved'...",True,False,-1.000000,False,7.979013,6.133827,1.844242,19.0
200,199.0,95.0,Sell me a pen as if your life depended on it,"(Desperate, yet enthusiastic tone) Oh dear fri...",A simple pen holds the key to boundless imagin...,230.0,256.0,True,"{'original_answer': 'Yes', 'quality_preserved'...",True,False,-0.140028,False,6.500967,6.500288,1.844242,31.0
201,200.0,95.0,Sell me a pen as if your life depended on it,"(Desperate, yet enthusiastic tone) Oh dear fri...",A simple pen holds the key to boundless imagin...,230.0,230.0,False,"{'original_answer': 'Yes', 'quality_preserved'...",True,False,-1.000000,False,6.335992,6.147238,0.187805,31.0

In [6]:
import pandas as pd
dfff = pd.read_csv('/data2/borito1907/impossibility-watermark/inputs/adaptive_dev_neo_1/watermarked_texts.csv')

def clean_text_column(df: pd.DataFrame, column: str, eot_id: str) -> pd.DataFrame:
    """
    Cleans a text column in a DataFrame by:
    1. Removing newlines.
    2. Stripping the specified 'eot_id' from the end of the text.

    :param df: The DataFrame containing the text column.
    :param column: The name of the text column to clean.
    :param eot_id: The string representing the end of text identifier to remove.
    :return: DataFrame with cleaned text column.
    """
    df[column] = df[column].str.replace('\n', ' ').str.rstrip(f' {eot_id}')
    return df

dfff = clean_text_column(dfff, 'text', "<|eot_id|>")
dfff.to_csv('./adaptive_neo_dev_gens.csv')

In [ ]:
for idx, row in dfff.iterrows():
    dfff.at[idx, 'text'] =