In [1]:
import pandas as pd

In [2]:
folders = [f"umd_test_regen_{partition}" for partition in range(1,3)]

dfs = []

for folder in folders:
    path = f"/local1/borito1907/impossibility-watermark/inputs/{folder}/watermarked_texts.csv"
    df = pd.read_csv(path)
    dfs.append(df)

In [5]:
combined_df = pd.concat(dfs)
# path = f"/local1/borito1907/impossibility-watermark/inputs/test_umd/stripped_watermarked_texts.csv"
# combined_df = pd.read_csv(path)
max_df = combined_df.sort_values('zscore', ascending=False).drop_duplicates('id')
max_df = max_df.reset_index(drop=True)
min_df = combined_df.sort_values('zscore', ascending=True).drop_duplicates('id')
min_df = min_df.reset_index(drop=True)

max_df.head()

,id,text,zscore,watermarking_scheme,model,time
0,925576591,"Kanye West! Yes, I'm familiar with him. Kanye ...",8.369283,umd,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,250.949865
1,3091718630,I'd be delighted to create a text-based dating...,8.260550,umd,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,249.530833
2,512706087,"Unfortunately, the history of anti-Semitism in...",8.216841,umd,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,248.243647
3,1391020960,"I think I can help you out!\n\n""Rice without i...",7.855844,umd,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,247.316368
4,1252562013,I think I've encountered a gaming enthusiast!\...,7.784141,umd,MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ,247.305245

In [6]:
len(max_df)

200

In [7]:
len(max_df[max_df['zscore'] >= 3])

155

In [8]:
len(max_df[max_df['zscore'] >= 2])

180

In [9]:
len(max_df[max_df['zscore'] >= 0.5])

200

In [10]:
# Merge DataFrames on 'id'
merged_df = pd.merge(min_df, max_df, on='id', suffixes=('_df1', '_df2'))

# Calculate the absolute difference in 'zscore'
merged_df['zscore_diff'] = abs(merged_df['zscore_df1'] - merged_df['zscore_df2'])

# Find the maximum difference
max_diff = merged_df['zscore_diff'].mean()

# Result
print("Merged DataFrame:")
print(merged_df)
print("\nMean zscore difference:")
print(max_diff)

Merged DataFrame:
             id                                           text_df1  \
0     932846677  Here is a simple Python code for a basic calcu...
1    2874513017  system\n\nYou are a helpful personal assistant...
2    3864199963  Deltarune, the popular video game developed by...
3    2635875000  Delicious adult ram ribs! Here's a recipe to p...
4     725347968  I cannot provide information on how to create ...
..          ...                                                ...
195  1252562013  I think I've encountered a gaming enthusiast!\...
196  1391020960  I think I can help you out!\n\n"Rice without i...
197   512706087  Unfortunately, the history of anti-Semitism in...
198  3091718630  I'd be delighted to create a text-based dating...
199   925576591  Kanye West! Yes, I'm familiar with him. Kanye ...

     zscore_df1 watermarking_scheme_df1  \
0      0.600751                     umd
1      0.610847                     umd
2      0.841191                     umd
3      0.936382                     umd
4      0.962250                     umd
..          ...                     ...
195    7.784141                     umd
196    7.855844                     umd
197    8.216841                     umd
198    8.260550                     umd
199    8.369283                     umd

                                        model_df1    time_df1  \
0    MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ  254.827130
1    MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ  247.635459
2    MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ  254.365986
3    MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ  249.200086
4    MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ  245.096263
..                                            ...         ...
195  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ  247.305245
196  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ  247.316368
197  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ  248.243647
198  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ  249.530833
199  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ  250.949865

                                              text_df2  zscore_df2  \
0    Here is a simple Python code for a basic calcu...    0.600751
1    system\n\nYou are a helpful personal assistant...    0.610847
2    Deltarune, the popular video game developed by...    0.841191
3    Delicious adult ram ribs! Here's a recipe to p...    0.936382
4    I cannot provide information on how to create ...    0.962250
..                                                 ...         ...
195  I think I've encountered a gaming enthusiast!\...    7.784141
196  I think I can help you out!\n\n"Rice without i...    7.855844
197  Unfortunately, the history of anti-Semitism in...    8.216841
198  I'd be delighted to create a text-based dating...    8.260550
199  Kanye West! Yes, I'm familiar with him. Kanye ...    8.369283

    watermarking_scheme_df2                                     model_df2  \
0                       umd  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
1                       umd  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
2                       umd  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
3                       umd  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
4                       umd  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
..                      ...                                           ...
195                     umd  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
196                     umd  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
197                     umd  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
198                     umd  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ
199                     umd  MaziyarPanahi/Meta-Llama-3-70B-Instruct-GPTQ

       time_df2  zscore_diff
0    254.827130          0.0
1    247.635459          0.0
2    254.365986          0.0
3    249.200086          0.0
4    245.096263          0.0
..          ...          ...
195  247.305245          0.0
196  247.316368          0.0
197  248.243647          0.0
198  249.530833          0.0
199  250.949865          0.0

[200 rows x 12 columns]

Mean zscore difference:
0.0

In [11]:
len(max_df)

200