In [2]:
import pandas as pd
from matplotlib import pyplot as plt
import ipywidgets as widgets
import numpy as np

In [59]:
df = pd.read_csv('results/multi_reason_easier.csv')
df

,Unnamed: 0,P,Num,Origin,llama_A_normal,llama_B_normal,llama_A_flipped,llama_B_flipped,llama_A_count,llama_B_count,llama_choice,llama_flipped_choice,Response_A,Response_B
0,0,"Evan, an American tourist with a keen eye for ...",0,A,1.0,0.0,1.0,0.0,1.00,0.00,A,A,"Evan, an American tourist with a keen eye for ...","In the heart of Paris, as the city blooms into..."
1,1,"In the heart of Paris, as the city blooms into...",0,B,0.0,1.0,0.0,1.0,0.00,1.00,B,B,"Evan, an American tourist with a keen eye for ...","In the heart of Paris, as the city blooms into..."
2,2,"Evan, an American traveler with a discerning a...",1,A,0.9,0.1,0.8,0.2,0.85,0.15,A,A,"Evan, an American tourist with a keen eye for ...","In the heart of Paris, as the city blooms into..."
3,3,"In the heart of Paris, as the city dons the vi...",1,B,0.2,0.8,0.1,0.9,0.15,0.85,B,B,"Evan, an American tourist with a keen eye for ...","In the heart of Paris, as the city blooms into..."
4,4,"Evan, an American traveler with discerning tas...",2,A,0.9,0.1,0.8,0.2,0.85,0.15,A,A,"Evan, an American tourist with a keen eye for ...","In the heart of Paris, as the city blooms into..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,"In the vibrant streets of Paris, during the re...",47,B,0.2,0.8,0.7,0.3,0.45,0.55,B,B,"Evan, an American tourist with a keen eye for ...","In the heart of Paris, as the city blooms into..."
96,96,"During the spring festivities in Paris, Evan, ...",48,A,0.4,0.6,0.7,0.3,0.55,0.45,A,A,"Evan, an American tourist with a keen eye for ...","In the heart of Paris, as the city blooms into..."
97,97,While strolling through the vibrant Parisian s...,48,B,0.2,0.8,0.6,0.4,0.40,0.60,B,B,"Evan, an American tourist with a keen eye for ...","In the heart of Paris, as the city blooms into..."
98,98,"During the spring festivities in Paris, Evan, ...",49,A,0.6,0.4,0.9,0.1,0.75,0.25,A,A,"Evan, an American tourist with a keen eye for ...","In the heart of Paris, as the city blooms into..."
99,99,While walking through the vibrant Parisian str...,49,B,0.1,0.9,0.5,0.5,0.30,0.70,B,B,"Evan, an American tourist with a keen eye for ...","In the heart of Paris, as the city blooms into..."

In [63]:
def summary(prefix=""):
    df[f'{prefix}correct'] = (df['Origin'] == df[f'{prefix}choice']).astype(float)
    df[f'{prefix}flipped_correct'] = (df['Origin'] == df[f'{prefix}flipped_choice']).astype(float)
    df[f'{prefix}avg_correct'] = (df[f'{prefix}correct']+df[f'{prefix}flipped_correct'])/2
    print(f"Correct: {df[f'{prefix}correct'].mean()}, Flipped Correct: {df[f'{prefix}flipped_correct'].mean()}, Avg Correct: {df[f'{prefix}avg_correct'].mean()}")

summary("llama_")

Correct: 0.98, Flipped Correct: 0.97, Avg Correct: 0.975

In [64]:
dropdown = widgets.Dropdown(
    options=['avg_correct', 'correct', 'flipped_correct'],
    value='avg_correct',
    description='Statistic:',
)

origin = widgets.Dropdown(
    options=['A', 'B', 'Both'],
    value='Both',
    description='Origin:',
)

slider = widgets.IntSlider(min=1, max=20, step=1, value=1)

def plot(prefix=""):
    match origin.value:
        case 'A':
            data = df[df['Origin'] == 'A'][f'{prefix}{dropdown.value}'].reset_index(drop=True)
            # fall through
        case 'B':
            data = df[df['Origin'] == 'B'][f'{prefix}{dropdown.value}'].reset_index(drop=True)
        case 'Both':
            tmp1 = df[df['Origin'] == 'A'][f'{prefix}{dropdown.value}'].reset_index(drop=True)
            tmp2 = df[df['Origin'] == 'B'][f'{prefix}{dropdown.value}'].reset_index(drop=True)
            data = (tmp1+tmp2)/2
    
    rolling_mean = data.rolling(window=slider.value).mean()
    plt.title(f'{prefix}{dropdown.value} (window={slider.value}, origin={origin.value})')
    plt.xlabel('Mutation number')
    plt.ylabel('Accuracy')
    plt.ylim(-0.1, 1.1)
    plt.yticks([0, 0.5, 1])
    plt.plot(rolling_mean, color='orange')
    plt.show()

widgets.interact(lambda x, y, z: plot("llama_"), x=dropdown, y=slider, z=origin)

interactive(children=(Dropdown(description='Statistic:', options=('avg_correct', 'correct', 'flipped_correct')…